.router-row {
	height: 30px;
}

.router-cell {
	width: 30px;
}

.router-cell[data-lane-type="inlet"] {
	background-color: rgba(255, 255, 255, 0.5);
}

.router-cell[data-lane-type="outlet"] {
	background-color: rgba(0, 0, 0, 0.75);
}

th.router-cell {
	background-color: rgba(255, 255, 255, 0.5);
	font-family: sans-serif;
	text-align: center;
	font-size: 12px;
}

/* row headers */
th.router-cell[data-lane-type] {
	position: relative;
	text-align: right;
	padding: 5px;
	width: 80px;
}

th.router-cell[data-lane-type] button {
	border: none;
	background: none;
	color: white;
	white-space: nowrap;
	border: 1px solid white;
	box-sizing: border-box;
}


th.router-cell[data-lane-type="outlet"] {
	background-color: rgba(0, 0, 0, 0.5);
}


.router-cell:not([data-lane-type="outlet"]):nth-child(even) {
	background-color: rgba(255, 255, 255, 0.75);
}

