.router-row {}

.router-cell[data-lane-type="inlet"] {
	background-color: rgba(255, 255, 255, 0.5);
}

.router-cell[data-lane-type="outlet"] {
	background-color: rgba(0, 0, 0, 0.75);
}

th.router-cell {
	background-color: rgba(255, 255, 255, 0.5);
}

th.router-cell[data-lane-type="outlet"] {
	background-color: rgba(0, 0, 0, 0.5);
}

.router-cell:not([data-lane-type="outlet"]):nth-child(even) {
	background-color: rgba(255, 255, 255, 0.75);
}

